* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: darkslateblue;
    font-family: sans-serif;
}

div {
    border-style: solid;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 100%;
}

h3 {
    font-size: 100%;
    text-decoration: none;
    margin: 0px;
}

p {
    margin: 2px;
}

.main_content {
    background-color:#F9D9B3;
    width: 50%;
    margin: 10% auto;
    padding: 0;
}

#main_menu{
    text-align:center;
    position: relative;
    padding: 10px;
    font-size: 150%;
}

.main_button{
    display: block;
    position: relative;
    width:50%;
    height: 10%;
    left: 25%;
    text-align:center;
    font-size: large;
    border-radius: 10px;
    color: black;
    border: 2px solid black;
    padding: 5% 0%;
    margin: 5% 0%;
    text-decoration: none;
    background-color:#CEDDCE;
}


.main_button:hover {
    background-color:#559955;
}

.warning, .warning:hover { 
    background-color: #FF8221;
}

.main_row {
    border: 2px solid black;
    margin: 2px;
    position: relative;
    top: 0;
}

.main_row:after {
    clear: both;
    content: " ";
    visibility: hidden;
    display:block;
}

.left, .right{
    float:left;
    width: auto;
    border:0;
    margin:0px;
    position: relative;
    padding: 5px;
    height: 100%;
}

.left {
    width: 25%;
    border: 0;
}

.right {
    border-left: 3px dotted green;
    width: 75%;
}

.options_row {
    clear: both;
    border: 0;
    border-bottom: 1px dotted black;
    margin: 0;
    padding: 2px 0;
    overflow: auto;
}

.options_row:last-child {
    border-bottom: 0;
}

/*.main_hash_options_label, .main_hash_options_input {
    float: left;
    border: 0;
    padding: 5px;
    margin: 0;
    position: relative;
}*/

.tooltip {
    display: inline-block;
    border-radius: 100%;
    border: 1px solid black;
    background-color: #5555FF;
    color: #FFFFFF;
    text-align: center;
    margin-left: 5px;
    width: 1.4em;
    font-size: 90%;
    font-weight: bold;
}

.tooltip:hover{
    background-color: #AAAAFF;
}

.tooltip_content {
    display: none;
    position: absolute;
    right: 0;
    width: 50%;
    background-color: #AAAAFF;
    border: 1px solid #000000;
    font-size: smaller;
    z-index: 500;
}
/*
.main_hash_options_label {
    width: 50%;
    text-align: right;
}

.main_hash_options_input {
    width: 25%;
}
*/

.hider {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:grey;
    opacity:0.5;
    z-index:10;
    border:0;
}

#status {
    border:0px;
    background-color:yellow;
    padding:5px;
    position:fixed;
    bottom:0;
    width:50%;
    z-index: 1000;
}

#preview_container{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background-color:grey;
    z-index:15;
    border:0;
    display:none;
}

#preview_contents{
    position:relative;
    left:15%;
    top:10%;
    width:70%;
    height: 80%;
    background-color:white;
    overflow:auto;
    border:0;
}

#preview_legend{
    position:relative;
    border:0;
    background-color:yellow;
    width:70%;
    left:15%;
    top:10%;
}



#main_combine{
/*    display:none;*/
}

.preview_cell {
    border: 1px solid blue;
    padding: 0px;
    margin: 0px;
}

